{% include "_includes/header.html" %}

<body>
    <!-- HOME -->
    <section id="home" class="full-screen"><!-- full-screen or half-screen (550px height) -->

    <div id="slider">

        <ul class="slides-container">

        <!-- Item 1 -->
        <li>
            <div class="image-caption">
            <hr /><hr />
            <div class="inner">
                <h2 class="bigtext strtoupper nomargin">{{ SITENAME|e }}</h2>
		<h3 style="color:white;padding-top:1em;font-weight:500">
		  {{ABOUT_TITLE}}
		</h3>
            </div>
            <hr /><hr />
            </div>
            <span class="overlay"></span>
            {% if BACKGROUND_IMAGE  %}
            <div style="background-image: url('{{ BACKGROUND_IMAGE }}');" class="fullscreen-img"></div>
            {%elif HEADER_IMAGE %}
            <div style="background-image: url('{{HEADER_IMAGE}}');" class="fullscreen-img"></div>
            {% endif %}           

        </li>
        </ul>

    </div>

    </section>
    <!-- /HOME -->

    <!-- Main Nav -->
        {% include "_includes/nav.html" %}
    <!-- /Main Nav -->

    <!-- ABOUT -->
    <section id="about">
    <div class="container">
        {% if ABOUT_TITLE %}
        <header class="text-center">
        <h1>{{ABOUT_TITLE}}</h1>
        </header>
        <!-- <div class="divider"><\!-- lines divider -\-></div> -->
        {% endif %}

        <article class="big-paragraph">
	  <span style="font-weight:500">How are species related, how
	  have they evolved, why they occur where they do?</span> We study
	  these questions mostly in plants, especially in the Hengduan
	  Mountains of China and adjacent regions. We also tackle
	  conceptual and methodological issues in phylogenetics and
	  macroevolution.
        </article>

        {% if PERSONAL_PHOTO %}
        <div class="me-picture text-center">
            <div class="item">
            <img class="img-responsive" src="{{PERSONAL_PHOTO}}" width="200" height="200" alt="" />
            </div><hr />
        </div>
        {% endif %}

    </div>
    </section>
    <!-- /ABOUT -->

    <!-- publications -->
    <section id="publications" class="alternate arrow-down">
    <div class="container">
        <header class="text-center">
        <h1>Publications</h1>
        </header>

        <div class="divider"><!-- lines divider --></div>

        <div id="portfolio" class="text-center animate_fade_in">

        <div class="row">

            <ul class="sort-destination isotope" data-sort-id="isotope-list">

            {% for key, year, text, bibtex, pdf, slides, poster in publications %}
	    <li id="{{ key }}">{{ text }}
	      [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
	      {% for label, target in [('PDF', pdf), ('Slides', slides), ('Poster', poster)] %}
	      {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
	      {% endfor %}
	    </li>
            {% endfor %}
            </ul>
        </div>
        </div>
    </div>
    </section>

    {% if articles %}
    <!-- BLOG -->
    <section id="quick-blog" class="alternate">
    <div class="container">

        <header class="text-center">
        <h1>BLOG</h1>
        <p>RECENT ENTRIES</p>
        </header>

        <div class="divider"><!-- lines divider --></div>

        <article>
        <div class="row animate_fade_in">

            {% for article in articles[:3] %}
            <div class="col-md-4 quick-hover">
                <div class="quick-item">
                {% if article.featured %}
                <figure class="media-preview">
                {% if article.type|lower=='image' %}
                    <img src="{{article.featured}}" class="img-responsive" data-src="holder.js/360x200/#676767:#555555/auto/" alt="img" />
                {%elif article.type|lower=='video'%}
                    <iframe class="fitvids" src="{{article.featured}}" width="800" height="450"></iframe>
                {%elif article.type|lower=='audio'%}
                    <iframe class="fullwidth" height="166" src="{{article.featured}}"></iframe> 
                {% endif %}
                </figure>
                {% endif %}
                {% if article.link %}
                    <h4><a class="theme_link" href="{{ article.link }}">{{article.title}} <i class="fa fa-external-link" target="_blank"></i></a></h4>
                {%else%}
                    <h4><a class="theme_link" href="{{ SITEURL }}/{{ article.url }}">{{article.title}}</a></h4>
                {%endif%}
                <p>{{article.summary}}</p>
                <a href="{{ SITEURL }}/{{ article.url }}" class="btn btn-xs theme_link"><i class="fa fa-sign-out"></i> READ MORE</a>
                </div>
            </div>
            {% endfor %} 

        </div>
        </article>

        <div class="divider"><!-- lines divider --></div>

        <article class="text-center" data-animation="bounceIn">
        <a href="blog.html" class="plusNav" title="more from blog">+</a> 
        </article>

    </div>
    </section>
    <!-- /BLOG -->
    {% endif %}

    {% include "_includes/footer.html" %}
</body>
